/*general*/

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/*Header*/

header a {
  color: white !important;
  text-decoration: none !important;
}

header a:hover {
  text-decoration: none;
}

header {
  background-color: black;
  padding: 0;
  line-height: 1.7em;
  display: flex;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: auto 0;
}

header nav li {
  margin: 0;
  padding: 0;
}

header nav ul li a {
  display: block;
  padding: 20px;
}

header nav ul li a:hover,
.active {
  background: #444;
}

nav h1 {
  margin: auto 0 auto 10px;
}

/* cafe bloc content */

.bg-image {
  background-image: url("../images/cafe1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cafe-bloc {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  max-width: 600px;
}

.cafe-bloc h1 {
  font-size: 50px;
  font-weight: bold;
}
.cafe-bloc p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
  text-align: center;
  max-width: 560px;
}

.black-box {
  height: 9px;
  width: 100px;
  background-color: black;
  display: block;
  margin: 10px auto;
}

.btn-discover {
  display: inline-block;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
}

.btn-discover a {
  color: black !important;
  text-decoration: none;
}
.btn-discover a:hover {
  color: black !important;
  text-decoration: none;
}

/* first white-bloc */

.white-bloc {
  padding: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.coffee,
.time {
  width: 50%;
  max-width: 500px;
  padding: 5px;
}

/*bloc image2*/

.bg-image2 {
  background-image: url("../images/cafe3.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

/*bloc-white2*/

.bloc-white2 {
  text-align: center;
  padding: 100px;
  display: block;
  max-width: 1200px;
  margin: auto;
}

.bloc-white2 h4 {
  margin-bottom: 20px;
}

.btn-booking {
  display: inline-block;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white !important;
}
.btn-booking:hover {
  background-color: white;
  border: 1px solid black;
  color: black !important;
}
.btn-booking a {
  font-weight: bold;
  color: white;
}

.btn-booking a:hover {
  color: black !important;
  text-decoration: none;
}

/* footer */

.footer-bloc {
  display: block;
  text-align: center;
  color: white;
  background-color: black;
  padding: 30px;
}

.footer-bloc p {
  margin-bottom: 0;
}

/* Where page */

.where-content {
  height: calc(100vh - 151px);
}

.where-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 150px;
}

.where-content img {
  height: 300px;
}

.where-text h1,
h3 {
  font-size: 24px;
}
.where-text h3,
.where-text p {
  font-size: 18px;
}

.metro-purple {
  background-color: purple;
  color: white;
  display: inline-block;
  text-align: center;
  width: 40px;
  border-radius: 100%;
  padding: 5px;
}
.metro-brown {
  background-color: brown;
  color: white;
  display: inline-block;
  text-align: center;
  width: 40px;
  border-radius: 100%;
  padding: 5px;
}

/*Contact page*/

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-contact {
  color: black;
}

form h3 {
  font-weight: bold;
  font-size: 24px;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
  .nav h1 {
    margin: auto;
    margin-bottom: 30px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .white-bloc {
    display: flex;
    flex-direction: column;
  }
  .coffee,
  .time {
    width: 100%;
    margin-bottom: 10px;
  }
  .bg-image {
    padding: 8px;
  }
  .where-content {
    display: flex;
    flex-direction: column;
  }
  .where-content img {
    height: 300px;
    width: 300px;
  }
  .where-text {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 50px;
  }
}
